[flake8]
max-line-length = 120
extend-select = INF
exclude = .git,__pycache__,.venv,.eggs,build,dist,doctrine,inferno-viz,scrape,exclude
max-complexity = 10
per-file-ignores =
    # Allow tests to be more lenient
    tests/*: E501

# Only lint our actual source dir
paths = packages/

[flake8:local-plugins]
extension =
    GLS001 = inferno_lint.plugin:Plugin
paths = packages/inferno-lint/src/